.user-component-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}

@media screen and (min-width: 500px) {
    .user-component-container {
        width: 25%;
    }
}

.user-component-image {
    max-width: 100px;
}

.user-component-login {
    text-decoration: none;
}

.user-component-container a:link,
    .user-component-container a:hover, 
    .user-component-container a:visited, 
    .user-component-container a:active {
    text-decoration: none;
    color: white;
}